.first-section {
  text-align: center;
  background-color: rgba(212, 211, 211, 0.5);
  letter-spacing: 1px;
}
.first-section h1 {
  font-weight: 800;
}
.first-section .who-we-are {
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .first-section .who-we-are .text-section p {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.first-section .who-we-are .photo-section {
  align-items: start;
  display: inline-flex;
}

.body-section {
  margin: 100px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .body-section {
    margin: 20px; /* smaller margin for tablets and below */
  }
}

@media (max-width: 480px) {
  .body-section {
    margin: 10px; /* even smaller margin for mobile */
  }
}

.body-section .diversity {
  background-color: rgba(212, 211, 211);
  align-items: center;
  padding-top: 40px;
  width: 100%;
  min-height: 100px;
  padding-bottom: 50px;
  margin-bottom: 100px;
}
.body-section .diversity .col {
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .body-section .diversity .col-12 img {
    margin-left: 0;
    width: 80% !important; /* or 100% */
    height: auto; /* maintain aspect ratio */
  }
}
.body-section .diversity .col-12 h3 {
  padding-top: 35px;
  font-size: 30px;
  color: white;
  font-weight: 700;
}

.body-section .customers-employees-australia {
  margin: 80px 0px;
  text-align: center;
}

.body-section .customers-employees-australia h1 {
  font-weight: 700;
  letter-spacing: 0.2;
}
