.promotion-header{
    background-color: black;
    color: white;
}
.promotion-header p{
    margin: 0;
}


.navbar-brand:hover{
    color: rgb(63, 115, 226) !important;
}

.bg-header {
    background-color: rgba(248,249,250) !important;
    box-shadow:1px 1px 0.5px rgb(212, 211, 211);
  }

  /* overrides text color */
.navbar-brand{
    color: black !important;  
}

  /* overrides text color for the rests of the  navs*/
a{
    color: rgb(0, 0, 0) !important;
}
.nav-link:hover {
    color: rgb(63, 115, 226) !important;
}

.navbar-toggler-icon{
    background-color: white !important;
}